.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #9faac3, #817fa0);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-bar{
    display: flex;
    align-items: center;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #817fa0;
    background: #e3e8e4;
    font-size: 18px;
}